{% extends 'base.html.twig' %}

{% block title %}Childs index{% endblock %}

{% block body %}
    <h1>Childs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_naissance</th>
                <th>Genre</th>
                <th>Allergies</th>
                <th>Remarques_medicales</th>
                <th>Revenus</th>
                <th>Date_entree</th>
                <th>Date_sortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for child in childs %}
            <tr>
                <td>{{ child.id }}</td>
                <td>{{ child.nom }}</td>
                <td>{{ child.prenom }}</td>
                <td>{{ child.dateNaissance ? child.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ child.genre }}</td>
                <td>{{ child.allergies }}</td>
                <td>{{ child.remarquesMedicales }}</td>
                <td>{{ child.revenus }}</td>
                <td>{{ child.dateEntree ? child.dateEntree|date('Y-m-d') : '' }}</td>
                <td>{{ child.dateSortie ? child.dateSortie|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_childs_controller_c_r_u_d_show', {'id': child.id}) }}">show</a>
                    <a href="{{ path('app_childs_controller_c_r_u_d_edit', {'id': child.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_childs_new') }}">Create new</a>
{% endblock %}
