{% extends 'base.html.twig' %}

{% block title %}Childs{% endblock %}

{% block body %}
    <h1>Childs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ child.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ child.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ child.prenom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ child.dateNaissance ? child.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ child.genre }}</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>{{ child.allergies }}</td>
            </tr>
            <tr>
                <th>Remarques_medicales</th>
                <td>{{ child.remarquesMedicales }}</td>
            </tr>
            <tr>
                <th>Revenus</th>
                <td>{{ child.revenus }}</td>
            </tr>
            <tr>
                <th>Date_entree</th>
                <td>{{ child.dateEntree ? child.dateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_sortie</th>
                <td>{{ child.dateSortie ? child.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_childs_controller_c_r_u_d_index') }}">back to list</a>

    <a href="{{ path('app_childs_controller_c_r_u_d_edit', {'id': child.id}) }}">edit</a>

    {{ include('childs_controller_crud/_delete_form.html.twig') }}
{% endblock %}
